# python
__pycache__/
*.pyc

# environments
.venv/
venv/
env/

# datasets
data/
datasets/

# ML models
*.pt
*.pth
*.h5
*.onnx

# artifacts
artifacts/
logs/
runs/
checkpoints/

# IDE
.vscode/
.idea/

# system
.DS_Store
Thumbs.db

# secrets
.env